@import url("components/banner.css");
@import url("components/btn.css");
@import url("components/card-project.css");
@import url("components/footer.css");

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: #353238;
}

.text-white {
  color: white;
}

.presentation {
  margin-bottom: 16px;
}

.app-content {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media only screen and (max-width: 1000px) {
  .app-content {
    margin-left: 3%;
    margin-right: 3%;
  }

}
