@import url("components/banner.css");
@import url("components/btn.css");
@import url("components/card-project.css");
@import url("components/footer.css");
@import url("components/Constant.css");

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, p {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons-link {
  background-color: red;
  margin-top: 3rem;
}

.icon {
  color: var(--main-color2);
  transition: .3s ease-out;
}

.icon:hover {
  color: var(--main-color4);
}
