h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: #353238;
}

.text-white {
  color: white;
}

.card-project {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin-bottom: 16px;
  border-radius: 8px;
  margin-right: 10vh;
  margin-left: 10vh;

}

.card-head {
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0 0;
  padding: 16px;
}

.card-content {
  padding: 16px;
}

.card-project > h2 {
  color: white;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8E8DBE;
  color: white;
  height: 100px;
}

.footer-links a {
  text-decoration: none;
  color: white;
  opacity: .8;
}

.footer-links a:hover {
  opacity: 1;
}


.btn-red {
  background-color: #932518;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: all .5s;
}

.btn-red:hover {
  text-decoration: none;
  color: white;
  background-color: #C1301F;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 16px;
}

.presentation {
  margin-bottom: 16px;
}

.logo {
  height: 100px;
  width: 100px;
}
